/* グレード色 */
.ib.grade {border:solid 1px #999;}

table.race_list     tr.race_grade_1 td.grade,
table.race_list_date tr.race_grade_1 td.grade,
table.horse_history tr.race_grade_1 td.grade,
table.syutsuba td.race_grade_1 .ib.grade,
.page_title .ib.race_grade_1,
.race_header .ib.race_grade_1,
.grade.block_g1
{ background-color:#0c74d5; color:#FFFFFF; }

table.race_list     tr.race_grade_2 td.grade,
table.race_list_date tr.race_grade_2 td.grade,
table.horse_history tr.race_grade_2 td.grade,
table.syutsuba td.race_grade_2 .ib.grade,
.page_title .ib.race_grade_2,
.race_header .ib.race_grade_2,
.grade.block_g2
{ background-color:#d91508; color:#FFFFFF; }

table.race_list     tr.race_grade_3 td.grade,
table.race_list_date tr.race_grade_3 td.grade,
table.horse_history tr.race_grade_3 td.grade,
table.syutsuba td.race_grade_3 .ib.grade,
.page_title .ib.race_grade_3,
.race_header .ib.race_grade_3,
.grade.block_g3
{ background-color:#208400; color:#FFFFFF; }

table.race_list     tr.race_grade_l td.grade,
table.race_list_date tr.race_grade_l td.grade,
table.horse_history tr.race_grade_l td.grade,
table.syutsuba td.race_grade_4 .ib.grade,
table.syutsuba td.race_grade_l .ib.grade,
.page_title .ib.race_grade_4,
.page_title .ib.race_grade_l,
.race_header .ib.race_grade_4,
.race_header .ib.race_grade_l,
.grade.block_ls
{ background-color:#CCCCCC; }

table.race_list     tr.race_grade_op td.grade,
table.race_list_date tr.race_grade_op td.grade,
table.horse_history tr.race_grade_op td.grade,
table.syutsuba td.race_grade_op .ib.grade,
.page_title .ib.race_grade_op,
.race_header .ib.race_grade_op,
.grade.block_op
{ background-color:#CCCCCC; }

table.syutsuba td.race_grade_none .ib.grade
{ background-color:#FFFFFF; }